@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --peanut: rgb(207, 181, 158);
  --powder: rgb(222, 229, 237);
  --cream: rgb(247, 242, 240);
  --pecan: rgb(107, 77, 56);
  --dariusOrange: #FF962C;

}

@font-face {
  font-family: 'JHC Audemars Bold';
  src: url('../public/fonts/JHCAudemars-BoldItalic.otf');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'JHC Audemars Medium';
  src: url('../public/fonts/JHCAudemars-Medium.otf');
  font-weight: bold;
  font-style: italic;
}

.AudemarsBoldItalic {
  font-family: 'JHC Audemars Bold';
}

.AudemarsMedium {
  font-family: 'JHC Audemars Medium';
}

@theme inline {
  --font-sans: var(--font-noto-sans);
  --font-mono: var(--font-noto-serif);
}

@media (prefers-color-scheme: dark) {
  :root {
  }
}

.bg-clip-content {
  background-clip: content-box;
}
